*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  max-width: 1140px;
  display: grid;
  grid-template-columns: 711px 399px;
  justify-content: space-between;
  column-gap: 30px;
  grid-template-areas: "result  content__details";
}

.content__accent {
  color: #545050;
}

.result {
  grid-area: result;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  margin-top: 78px;
}

.result__video-container {
  position: relative;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: inherit;
  object-fit: cover;
  object-position: center;
}

.content__list-container {
  position: relative;
  max-height: 298px;
  overflow: auto;
}

.content__details {
  grid-area: content__details;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__video-card {
  display: flex;
  justify-content: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 196px;
}

.search-form__fieldset {
  border: none;
  padding-right: 40px;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 5px;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  max-width: 196px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  line-clamp: initial;
  padding-top: 6px;
}

.button {
  background-color: transparent;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}

.more-button {
  width: 390px;
  margin: 30px 3px 2px 2px;
}

.search-form__submit-button {
  align-self: end;
  justify-self: end;
  width: 194px;
  height: 34px;
}

.button:active {
  background: #545050;
  border: 1px solid #ffffff;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline-offset: 1px;
  outline: 1px solid;
}

.search-form__textfield {
  border-style: solid;
  border-color: rgba(255, 255, 255, 1);
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-left: 0px;
  border-right: 0px;
  width: 225px;
  min-height: 27px;
  appearance: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__label-text {
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
  background: #fff;
}
